<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    
    <button><a href="/register">Create Account</a></button>
    <button><a href="/delete">Delete Account</a></button>
    <button><a href="/update">Update Account</a></button>
    <button><a href="/search">Search Account</a></button>
    <button><a href="searchall">Show All Accounts</a></button>
    <button><a href="/mainmenu">Back to main Menu</a></button>

  </div>
</div>

<%- include('partials/footer') %>
