<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    
    <button><a href="/search">Check Account Info</a></button>
    <button><a href="/deposit">Deposit Cash</a></button>
    <button><a href="/withdraw">withdraw Cash</a></button>
    <button><a href="/mainmenu">Back to main Menu</a></button>

  </div>
</div>

<%- include('partials/footer') %>
